html {
  position: relative;
  /* min-height: 100%; */
}

body {
  margin-bottom: 100px;
  color: #444;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #116e58;
  color: #fff;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  z-index: 1000;
  padding: 20px 0;
}
/* --- helplers --- */

/* Margins */
.mT5{
  margin-top: 5px;
}
.mT10{
  margin-top: 10px;
}
.mT15{
  margin-top: 15px;
}
.mT25{
  margin-top: 25px;
}
.mT50{
  margin-top: 50px;
}
.mB10{
  margin-bottom: 10px;
}
.mTB5{
  margin-top: 5px;
  margin-bottom: 5px;
}
.mTB10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.mTB15{
  margin-top: 15px;
  margin-bottom: 15px;
}
.mLR0{
  margin-left: 0;
  margin-right: 0;
}
.mLR15{
  margin-right: 15px;
  margin-left: 15px;
}

/* Paddings */
.pL5{
  padding-left: 5px;
}
.pLR0{
  padding-left: 0;
  padding-right: 0;
}
.pLR20{
  padding-left: 20px;
  padding-right: 20px;
}
.pT5{
  padding-top: 5px;
}
.pT10{
  padding-top: 10px;
}
.pT15{
  padding-top: 15px;
}
.pTB10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.pTB15{
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Colors */
.greenBg{
  background-color: #139b68;
}
.liteGreenBg{
  background-color: rgba(68,163,132, 0.6);
}
.liteBlueBg{
  background-color: rgba(15, 36, 61, 0.38);
}
.lighterBlueBg{
  background-color: rgba(15, 36, 61, 0.18);
  font-size: 24px;
}

/* Fonts */
.font16{
  font-size: 16px;
}

/* Elements */
.span_small{
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
}
.shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #f8f8f8;
  padding: 20px;
  font-size: 12px;
  border-radius: 5px;
}
.bT{
  border-top: 1px solid #eee;
}
.bL{
  border-left: 1px solid #eee;
}
.inlined{
  display: inline;
}


/* --- ./ Helpers --- */
.navbar-default .navbar-brand,
.talentclick-title {
  font-size: 40px;
  color: #139b68;
  letter-spacing: -1px;
  font-weight: 700;
  text-align: center;
  transition: font-size 500ms;
}
h1.green_heading{
  font-size: 40px;
  color: #139b68;
}
.calc_wrapper{
  border-radius: 5px;
  color: #fff;
  padding: 20px;
}
hr.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #fff;
}
.form-control_focused {
    border-color: #CFFFED;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(207,255,237,1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(207,255,237,1);
}
.noUi-horizontal .noUi-handle{
  width: 28px;
  left: -14px;
}
.noUi-handle:before{
  left: 7px;
}
.noUi-connect{
  background-color: #CFFFED;
  box-shadow: inset 0 0 3px rgba(52,202,103,1.0);
}
.noUi-marker{
  background: #fff;
}
.noUi-pips{
  color: #fff;
}
.form-control#employees_num{
  border-radius: 5px;
  /* padding: 10px;
  font-size: 18px;
  line-height: 32px; */
}
.emp_num{
  font-weight: bold;
}
.table_header{
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
}
.table_row{
  padding-top: 10px;
  padding-bottom: 10px;
}
.tax_header{
  font-size: 16px;
  font-weight: bold;
}


/* ----- Bootstrap Overrides --- */
.btn{
  border-radius: 0;
  border: none;
}
.btn-blue, .btn-blue[disabled]:hover{
  background-color: #073b94;
  color: #fff;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active{
  color: #fff;
  background-color: #004A7F;
}

/* ----- ./ Bootstrap Overrides --- */

/* Flags */
/* .tax_radio input[type=radio]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}
.tax_radio input[type=radio]:not(old) + label#canadian_flag{
  background   : url('../img/canada.png') no-repeat 0 0;
  width: 60px;
  height: 30px;
  opacity: 0.5;
}
.tax_radio input[type=radio]:not(old) + label#usa_flag{
  background   : url('../img/usa.png') no-repeat 0 0;
  width: 60px;
  height: 30px;
  opacity: 0.5;
}
.tax_radio input[type=radio]:checked + label{
  opacity: 1;
} */
img.tax_flags{
  opacity: 0.6;
}
img.tax_flags:hover{
  opacity: 0.8;
  cursor: pointer;
}
img.tax_selected{
  opacity: 1;
}
.nav > li > a{
  color: #fff
}
.nav > li > a:hover{
  color: #000
}